.idea/*
**/build/*
.gradle/*
**/*.iml
local.properties

# Java
classes/*
**/*.class
classes/*
forsuredbcompiler/out/*
forsuredbapi/out/*
dbinfo/out/*
forsuredbmodels-gson/out/*
forsuredbmodels-jackson/out/*
forsuredbjdbc-example/*.db