.idea/*
**/build/*
.gradle/*
**/*.iml
local.properties

# OSX
**/.DS_Store

# Java
classes/*
**/*.class
classes/*
forsuredbannotations/out/*
forsuredbcompiler/out/*
forsuredbapi/out/*
dbinfo/out/*
forsuredbjdbc/out/*
forsuredbmodels-gson/out/*
forsuredbmodels-jackson/out/*
forsuredbmodels-moshi/out/*
forsuredbjdbc-example/*.db
forsuredbjdbc-example/out/*
sqlitelib/out/*
integrationtest/out/*
testtools/out/*
dbinfo-testtools/out/*
serialization-testtools/out/*
